---
import Footer from '../components/Footer.astro';
import Layout from './layout.astro';
import data from '../data/data.json';

// 游댳 Generar las rutas est치ticas
export async function getStaticPaths() {
  return data.map(item => ({
    params: { id: item.id }, // el nombre del archivo din치mico [id].astro
    props: { documento: item } // pasamos el documento como props
  }));
}

// 游댳 Recuperamos los datos pasados en props
const { documento } = Astro.props;
---

<Layout>
  <article class="blog-post">
    <div class="blog-header">
      <h1>{documento.titulo}</h1>
      <div style="display: flex; justify-content: space-between;">
        <small>
          Etiquetas: <em>{documento.etiquetas.join(", ")}</em>
        </small>
        <small>
          칔ltima actualizaci칩n: {documento.ultimaActualizacion}
        </small>
      </div>
    </div>

    <div class="video-container" style="margin: 2rem 0;">
      <video width="100%" height="400" controls>
        <source src={documento.video} type="video/mp4" />
        Tu navegador no soporta la reproducci칩n de video.
      </video>
    </div>

    <section>
      {documento.secciones.map(seccion => (
        <>
          <h2>{seccion.subtitulo}</h2>
          <p>{seccion.contenido}</p>
        </>
      ))}
    </section>
  </article>

  <Footer/>
</Layout>
