---
// src/components/home/Socials.astro
const socials = [
    { name: "Twitter", url: "https://twitter.com/", icon: "/x.svg", class: "twitter" },
    { name: "Facebook", url: "https://facebook.com/", icon: "/facebook.svg", class: "facebook" },
    { name: "Instagram", url: "https://instagram.svg", icon: "/instagram.svg" , class: "instagram" },
    { name: "WhatsApp", url: "https://wa.me/1234567890", icon: "/whatsapp.svg", class: "whatsapp" },
    { name: "YouTube", url: "https://youtube.com/", icon: "/youtube.svg", class: "youtube" },
];
---

<div class="socials">
    {socials.map(social => (
        <a
            class={`socials__item ${social.class}`}
            href={social.url}
            target="_blank"
            rel="noopener noreferrer"
        >
             <img class="socials__icon" src={social.icon} alt={social.name} />
            <span class="socials__name">{social.name}</span>
        </a>
    ))}
</div>

<style>
.socials {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.socials__item {
  text-decoration: none;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: bold;
  width: 300px;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Colores corporativos */
.twitter {
  background-color: #000000; /* Negro oficial de X */
}
.twitter:hover {
  background-color: #222222; /* Un gris oscuro para el hover */
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.facebook {
  background-color: #1877f2;
}
.facebook:hover {
  background-color: #145dbf;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.instagram:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.whatsapp {
  background-color: #25D366;
}
.whatsapp:hover {
  background-color: #1ebe57;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.youtube {
  background-color: #FF0000;
}
.youtube:hover {
  background-color: #cc0000;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


.socials__name {
  font-size: x-large;
  font-weight: bolder;
}

@media (max-width: 767.98px) {
    .socials{
        width:100%;
        flex-direction:column;
        gap:2rem;
    }

    .socials__item{
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;

    }
}
</style>
